# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Virtual environments
# ==========================
.venv/
env/
venv/
ENV/
*.env
*.venv

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Docker & Compose
# ==========================
docker-compose.override.yml
*.log

# ==========================
# Testing / Temp
# ==========================
test-results/
tmp/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars.json
*.tfstate
*.tfstate.*
backend.tfbackend

# ==========================
# Helm
# ==========================
# Dependency charts
gitops/helm-charts/**/charts/
gitops/helm-charts/**/Chart.lock
*.tgz

# Helm package files
*.tgz.prov
!gitops/helm-charts/**/charts/
!gitops/helm-charts/**/charts/*.tgz
!gitops/helm-charts/**/Chart.lock