stages:
  - build
  - docker
  - release_version
  - terraform
  - install_addons

variables:
  DOCKER_BUILDKIT: "1"
  IMAGE_NAME: "docker.io/$DOCKERHUB_USERNAME/$CI_PROJECT_NAME"

# ---------------- BUILD ----------------
build:
  stage: build
  image: python:3.11
  variables:
    PYTHONDONTWRITEBYTECODE: "1"
  script:
    - echo "Running build validation..."
    - pip install --no-cache-dir -r requirements.txt
    - python -m compileall app/
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

# ---------------- DOCKER BUILD ----------------
docker:
  stage: docker
  tags:
    - selfhosted
  image: docker:29.1.3
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker info
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

    # Skip build if image already exists
    - |
      if docker manifest inspect "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" >/dev/null 2>&1; then
        echo "Image already exists, skipping build"
        exit 0
      fi


    - docker buildx build --platform linux/amd64 -t "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" --push .

  rules:
    - if: '$CI_MERGE_REQUEST_ID'
      changes:
        - app/**/*
        - Dockerfile
        - requirements.txt
        - .dockerignore
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*
        - Dockerfile
        - requirements.txt
        - .dockerignore
    - if: '$CI_COMMIT_TAG =~ /^v?[0-9]+\.[0-9]+\.[0-9]+/'

# ---------------- RELEASE TAG ----------------
docker_release_version:
  stage: release_version
  image: docker:29.1.3
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker pull "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - docker tag "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" "$IMAGE_NAME:$CI_COMMIT_TAG"
    - docker push "$IMAGE_NAME:$CI_COMMIT_TAG"
  rules:
    - if: '$CI_COMMIT_TAG'

# ---------------- INFRA ----------------
include:
  - local: 'infra/.gitlab-ci.yml'
  - local: '.gitlab-ci-addons.yml'
