# Cluster Autoscaler Helm Values
# Used by: gitops/argo-apps/platform/cluster-autoscaler.yaml
# Chart: kubernetes/autoscaler (aliased as cluster-autoscaler)

cluster-autoscaler:
  autoDiscovery:
    clusterName: simple-time-service-prod

  awsRegion: us-east-1

  serviceAccount:
    create: false
    name: cluster-autoscaler-aws-cluster-autoscaler

  rbac:
    create: true

  extraArgs:
    scan-interval: 10s
    skip-nodes-with-local-storage: "false"
    skip-nodes-with-system-pods: "false"

