apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 81.6.1
    helm:
      releaseName: prometheus
      values: |
        crds:
          enabled: true
        prometheus:
          prometheusSpec:
            retention: 7d
            serviceMonitorSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true