{{- if and .Values.ingress.enabled .Values.prometheus.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    alb.ingress.kubernetes.io/healthcheck-path: {{ .Values.prometheus.healthcheckPath | default "/-/healthy" | quote }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.prometheus.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.prometheus.serviceName }}
                port:
                  number: {{ .Values.prometheus.servicePort }}
{{- end }}