crds:
  enabled: true

prometheus:
  prometheusSpec:
    replicas: 1
    retention: 7d
    serviceMonitorSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false

    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 1
        memory: 2Gi

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi

grafana:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1

kubeEtcd:
  enabled: false
kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false