kube-prometheus-stack:

  crds:
    enabled: true

  prometheus:
    enabled: true
    prometheusSpec:
      replicas: 1
      retention: 15d

      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: gp3   # adjust if different
            resources:
              requests:
                storage: 30Gi

      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 1
          memory: 2Gi

  alertmanager:
    enabled: true
    alertmanagerSpec:
      replicas: 1
      storage:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: gp3   # adjust if needed
            resources:
              requests:
                storage: 5Gi

      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: "ChangeMe123!"  # move to external secret later

    persistence:
      enabled: true
      storageClassName: gp3       # adjust if needed
      size: 10Gi

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

  kube-state-metrics:
    enabled: true

  nodeExporter:
    enabled: true