kube-prometheus-stack:

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: "ChangeMe123!"   # replace with external secret later

    persistence:
      enabled: true
      size: 10Gi

    ingress:
      enabled: true
      ingressClassName: nginx
      hosts:
        - grafana.yourdomain.com

  prometheus:
    prometheusSpec:
      retention: 15d

      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 30Gi

  alertmanager:
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 5Gi

  kube-state-metrics:
    enabled: true

  nodeExporter:
    enabled: true