kube-prometheus-stack:

  prometheus:
    prometheusSpec:
      replicas: 1
      retention: 24h
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 512Mi

  grafana:
    enabled: true
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  alertmanager:
    enabled: true
    alertmanagerSpec:
      replicas: 1

  kube-state-metrics:
    enabled: true

  prometheus-node-exporter:
    enabled: true
