{{- $vals := dict }}

{{- if .Values.prometheus.enabled }}
  {{- $vals = .Values.prometheus }}
{{- else if .Values.prometheus-stack.prometheus.enabled }}
  {{- $vals = .Values.prometheus-stack.prometheus }}
{{- end }}

{{- if $vals }}
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ default 1 $vals.prometheusSpec.replicas }}

  serviceMonitorSelector: {}

  resources:
    requests:
      cpu: {{ default "100m" $vals.prometheusSpec.resources.requests.cpu }}
      memory: {{ default "256Mi" $vals.prometheusSpec.resources.requests.memory }}
    limits:
      cpu: {{ default "500m" $vals.prometheusSpec.resources.limits.cpu }}
      memory: {{ default "1Gi" $vals.prometheusSpec.resources.limits.memory }}
{{- end }}
