{{- $vals := dict }}

{{- if and (hasKey .Values "prometheus") .Values.prometheus.enabled }}
  {{- $vals = .Values.prometheus }}
{{- else if (index .Values "prometheus-stack") }}
  {{- $ps := index .Values "prometheus-stack" }}
  {{- if and (hasKey $ps "prometheus") $ps.prometheus.enabled }}
    {{- $vals = $ps.prometheus }}
  {{- end }}
{{- else if (index .Values "kube-prometheus-stack") }}
  {{- $kps := index .Values "kube-prometheus-stack" }}
  {{- if and (hasKey $kps "prometheus") $kps.prometheus.enabled }}
    {{- $vals = $kps.prometheus }}
  {{- end }}
{{- end }}

{{- if $vals }}
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ default 1 $vals.prometheusSpec.replicas }}

  serviceMonitorSelector: {}

  resources:
    requests:
      cpu: {{ default "100m" $vals.prometheusSpec.resources.requests.cpu }}
      memory: {{ default "256Mi" $vals.prometheusSpec.resources.requests.memory }}
    limits:
      cpu: {{ default "500m" $vals.prometheusSpec.resources.limits.cpu }}
      memory: {{ default "1Gi" $vals.prometheusSpec.resources.limits.memory }}
{{- end }}
