apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: otel-collector-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://gitlab.com/karthikbm2k25/simple-time-service.git
    targetRevision: main
    path: gitops/otel-collector
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

