# Elasticsearch Helm Values
# Used by: gitops/argo-apps/observability/elasticsearch.yaml
# Chart: elastic/elasticsearch

replicas: 1
minimumMasterNodes: 1

resources:
  requests:
    memory: 1Gi
    cpu: 500m
  limits:
    memory: 2Gi
    cpu: 1000m

persistence:
  enabled: true
  storageClass: gp3
  size: 10Gi

# Enable TLS with self-signed certs from cert-manager
tls:
  enabled: true
  existingCertSecret: elasticsearch-tls
  existingCaSecret: elasticsearch-tls
  existingCertSecretCertName: tls.crt
  existingCertSecretKeyName: tls.key

# Enable security with default password
xpack:
  security:
    enabled: true
    http:
      ssl:
        enabled: true
        certificateAuthorities: /usr/share/elasticsearch/config/certs/ca.crt
        certificate: /usr/share/elasticsearch/config/certs/tls.crt
        key: /usr/share/elasticsearch/config/certs/tls.key
    transport:
      ssl:
        enabled: true
        verificationMode: certificate
        certificateAuthorities: /usr/share/elasticsearch/config/certs/ca.crt
        certificate: /usr/share/elasticsearch/config/certs/tls.crt
        key: /usr/share/elasticsearch/config/certs/tls.key

