
elasticsearch:
  replicas: 2
  minimumMasterNodes: 1

  # keep pods on different nodes but SAME AZ
  podAntiAffinity: "hard"

  # IMPORTANT: force single AZ
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                  - us-east-1a
                  - us-east-1b
  nodeGroup: "master"
  roles:
    - master
    - data
    - ingest

  resources:
    requests:
      memory: 512Mi
      cpu: 150m
    limits:
      memory: 1Gi
      cpu: 500m

  persistence:
    enabled: true
    storageClass: gp3-wait   # MUST be WaitForFirstConsumer
    size: 10Gi

  tls:
    enabled: true
    existingCertSecret: elasticsearch-tls
    existingCaSecret: elasticsearch-tls
    existingCertSecretCertName: tls.crt
    existingCertSecretKeyName: tls.key

  xpack:
    security:
      enabled: true
      
  esConfig:
    elasticsearch.yml: |
      xpack.security.authc:
        anonymous:
          username: healthcheck
          roles: lb_health
          authz_exception: false

    roles.yml: |
      lb_health:
        cluster:
          - monitor
        indices:
          - names: ["*"]
            privileges: ["monitor"]
